<a href="https://colab.research.google.com/github/ramyakniranjan/Deep_learning/blob/main/DL_class2_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [156]:
class Rectangle():
  def __init__(self, width, height):
    self.height = height
    self.width = width

In [157]:
r1 = Rectangle(100, 200)
r2 = Rectangle(100, 200)

In [158]:
r1 == r2

False

In [159]:
class Rectangle():
  def __init__(self, width, height):
    self.height = height
    self.width = width

  def __eq__(self,other):
    print(f"self={self}, other={other}")
    if isinstance(other, Rectangle):
      return(self.width,self.height)==(other.width,other.height)
    else:
      return False

In [160]:
r1==r2

False

In [161]:
def avg(a, *args):
  count = len(args) + 1
  total = sum(args) + a
  average = total/count
  return (f"The average is : {average}")

In [162]:
avg(1)

'The average is : 1.0'

In [163]:
avg(1,2,3,4,5,6)

'The average is : 3.5'

# Passing list to function

In [164]:
l1 = [1,2,3,4,5]

unlisting

In [165]:
avg(*l1)

'The average is : 3.0'

In [166]:
def func1(a, b, *args):
  print(a)
  print(b)
  print(args)

In [167]:
func1(1,2)

1
2
()

In [168]:
func1(1,2,3,4,5,6)

1
2
(3, 4, 5, 6)

In [169]:
func1(a=1, b=2)

1
2
()

In [170]:
def func1(a, b, *args,d):
  print(a)
  print(b)
  print(args)
  print(d)

In [171]:
func1(1,2,3,4,d=6)

1
2
(3, 4)
6

positional argument, args, then keyword argument

In [172]:
def func1(a, b, *args,d, **kwargs):
  print(a)
  print(b)
  print(args)
  print(d)
  print(kwargs)

In [173]:
func1(1,2,3,4,5,d=9,z=7,e=6)

1
2
(3, 4, 5)
9
{'z': 7, 'e': 6}

In [174]:
def func1(*args, **kwargs):
  print(a)
  print(b)
  print(args)
  print(d)
  print(kwargs)

In [175]:
def func1(a,b,c,*,d):
  print(d)

In [176]:
func1(2,3,4,d=6)

6

# Unlisting

In [177]:
L1 = [10,20,30,40,50]
a ,*b = L1
print(a)
print(b)

10
[20, 30, 40, 50]

In [178]:
s ="python"
a, *b = s
print(a)
print(b)

p
['y', 't', 'h', 'o', 'n']

In [179]:
L1 = [1,2,3]
L2 = [4,5,6]

In [180]:
L = [*L1, *L2]
print(L)

[1, 2, 3, 4, 5, 6]

# Lambda

In [181]:
def sq(x):
  return x**2

In [182]:
sq(4)

16

In [183]:
sq1 = lambda x: x**2

In [184]:
sq1(4)

16

In [185]:
sum1 = lambda a,b : a + b

In [186]:
sum1(3,5)

8

In [187]:
def factorial(x):
  if x < 2:
    return 1
  else:
    return x * factorial(x-1)

In [188]:
factorial(6)

720

In [189]:
fact = lambda x : x * fact(x-1) if x>=2 else 1

In [190]:
fact(4)

24

# map function

In [191]:
map(fact, [1,2,3,4,5])

In [192]:
results = map(fact, [1,2,3,4,5])

In [193]:
print(results)

<map object at 0x7e5e6635ac20>

In [194]:
for i in results:
  print(i)

1
2
6
24
120

In [195]:
l1 = [1,2,3]
l2 = [2,3,4]
rs = map(lambda x,y : x+y, l1,l2)

In [196]:
# next(rs)

In [197]:
list(rs)

[3, 5, 7]

In [198]:
for i in rs:
  print(i)

# since these are lazy iterators, when output is run once iterators are already exhausted therefore no output is given when run twice

# Zip function

gives a tuple as output with elements of the consecutive lists

In [199]:
result = zip(range(1000),"python")

In [200]:
for i in result:
   print(i)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [201]:
l1 = [1,2,3,4]
l2 = [10,20,30,40]
c = "python"
result = zip(l1,l2,c)
for i in result:
  print(i)

(1, 10, 'p')
(2, 20, 'y')
(3, 30, 't')
(4, 40, 'h')

# Filter

In [202]:
result = filter(lambda x:x%2==0, map(lambda x,y: x+y, l1,l2))

In [203]:
list(result)

[22, 44]

# List Comprehension

In [204]:
fruits =["apple","mango", "banana", "orange","kiwi"]

In [205]:
newlist= []
for i in fruits:
  if "a" in i:
    newlist.append(i)

In [206]:
newlist

['apple', 'mango', 'banana', 'orange']

In [207]:
newlist=[]
newlist= [x for x in fruits if "o" in x]

In [208]:
newlist

['mango', 'orange']

# Iterables

In [209]:
class Squares:
  def __init__(self, length):
    self.length=length
    self.i = 0

  def __next__(self):
    if self.i>=self.length:
      raise StopIteration
    else:
      result = self.i**2
      self.i+=1
      return result

  def __len__(self):
    return self.length

In [210]:
Sq = Squares(5)

In [211]:
next(Sq)

0

In [212]:
len(Sq)

5

In [213]:
class Cities:
  def __init__(self):
    self._cities = ["Bengaluru","Delhi","Mumbai","Chennai","Kolkatta"]

  def __len__(self):
    return len(self._cities)

In [214]:
ct = Cities()

In [215]:
class CityIterator():
  def __init__(self, city_obj):
    self._city_obj= city_obj
    self._index=0

  def __len__(self):
    return len(self._city_obj)
  def __getitem__(self, idx):
    return self._city_obj._cities[idx]

In [216]:
itr1 = CityIterator(ct)

In [217]:
itr1[0]

'Bengaluru'

In [218]:
for i in itr1:
  print(i)

Bengaluru
Delhi
Mumbai
Chennai
Kolkatta

# Assignment:



Using list comprehension (and zip/lambda/etc if required) write an expression that:

    • add 2 iterables a and b such that a is even and b is odd
    • strips every vowel from a string provided (Analytix>>n | y t x)
    • acts like a ReLU function for a 1D array
    • acts like a sigmoid function for a 1D array
    • takes a small character string and shifts all characters by 5 (handle boundary conditions)
    python>> udymts

1. Add 2 iterables a and b such that a is even
and b is odd.

In [219]:
l1 =[1,2,3,4]
l2 =[4,5,6,7]

result = [x+y for x,y in zip(l1,l2) if x%2==0 and y%2!=0]

In [220]:
result

[7, 11]

2. strips every vowel from a string provided (Analytix>>n | y t x)

In [221]:
text = "(Analytix>>n | y t x)"
strip_vowels = [x for x in text if x not in "aeiouAEIOU"]

In [222]:
strip_vowels

['(',
 'n',
 'l',
 'y',
 't',
 'x',
 '>',
 '>',
 'n',
 ' ',
 '|',
 ' ',
 'y',
 ' ',
 't',
 ' ',
 'x',
 ')']

3. acts like a ReLU function for a 1D array

In [223]:
relu = [1,2,3,-1,-7]

result = [x for x in map(lambda x : 0 if x<=0 else x , relu)]
result

[1, 2, 3, 0, 0]

In [224]:
result = [0 if x <= 0 else x for x in relu]

4. acts like a sigmoid function for a 1D array

In [225]:
l1 = [3,5,-4,8,2]
sigmoid = [1/(1+(2.718281828459045)**-x) for x in l1]
sigmoid

[0.9525741268224331,
 0.9933071490757153,
 0.017986209962091562,
 0.9996646498695336,
 0.8807970779778823]

5. takes a small character string and shifts all characters by 5 (handle boundary conditions)
python>> udymts

In [226]:
text = "Python"
reversed_text=[]
result =''.join([
    chr((ord(x)+5-ord("a"))%26+ord("a")) if x.islower() else chr((ord(x)+5-ord("A"))%26+ord("A"))
    for x in text
])
result

'Udymts'